<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateUser</title>
</head>
<body>
    
    <form method="POST" action="">
        {% csrf_token %}

        {{form.username}}
        <hr>

        {{form.email}}
        <hr>

        {{form.password1}}
        <hr>

        {{form.password2}}
        <hr>

        <select name="administration-level" id="cars">
            <option value="Administrator">Administrator</option>
            <option value="Editor">Editor</option>
          </select>

          <input type="submit" class="btn login_btn" value="Register Account">
    </form>

    {{form.errors}}

</body>
</html>