@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

.navColorContainer {
    background-color: #FF3822;
}
.contactHeader {
    font-family: 'lato';
    margin: 32px 0px;
}

.contactHeader h1 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    word-spacing: 0%;
}

.contactHeader h2 {
    font-size: 18px;
    color: #c2adad;
}

.calendarContent {
    position: relative;
    background-color: #f2f2f2;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    font-family: 'lato';
    scroll-behavior: smooth;
    z-index: 10;
}

.calendarEvent {
    background: rgb(152,152,152);
    background: linear-gradient(270deg, rgba(152,152,152,1) 0%, rgba(0,82,255,1) 100%);

    color: white;  
    border-bottom: 2px solid black; 
}

.calendarEvent .eventTitle {
    font-weight: 600;
    font-size: 20px;
}

.calendarEvent .eventDetails {
    font-size: 18px;
}

.calendarEvent .more_info {
    text-decoration: underline;
    font-size: 18px;
}

.calendarEvent .DateTime {
    font-size: 18px;
    font-weight: 400;
}

p {
    opacity: 0;
    transition: opacity 0.6s linear;
}

@media(min-width: 768px){
    .calendarContent{
        height: 100vh;
    }

    .contactHeader {
        margin: 0px 0px;
        height: 288px;
    }

    .contactHeader h1 {
        font-size: 48px;
    }

    .contactHeader h2 {
        font-size: 24px;
    }
}