{% extends 'manage-base.html' %}
{% load static %}

{% block styling %}
<link rel="stylesheet" href="{% static 'administration_station/css/contact-us.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock %}

{% block windowTitle %}Edit Holy Orders Content{% endblock %}

{% block content %}
<div class="d-flex mt-4 flex-column justify-content-center align-items-center">
    <h2>Edit Holy Orders Content</h2>
    <form class="d-flex flex-column" action="" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.SacramentDescription | safe}}

        <button class="btn btn-primary mt-4" type="submit">Submit</button>
    </form>
</div>
{% endblock %}