{% extends 'base.html' %}
{% load static %}

{% block styling %}
<link rel="stylesheet" href="{% static 'general/css/sacrament.css' %}">
{% endblock %}

{% block windowTitle %}Marriage{% endblock %}

{% block navbar %}
<div class="navWholeContainer">
    <img src="{%static 'static/img/Marriage.jpeg'%}" class="navImageContainer d-lg-none">
    {% include 'navbar.html' %}
    <div id="navContent" class="d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-12">Marriage</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div style="background-color: #f2f2f2">
    <div class="navWholeContainer d-none d-lg-block">
        <img src="{% static 'static/img/Marriage.jpeg' %}" class="navImageContainer" alt="">
        <div id="navContent">
            <div class="container">
                <div class="row">
                    <div class="col-12 sacramentTitle">
                        <h1>Marriage</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sacramentContent container mt-4">
            {{ marriage.SacramentDescription | safe }}
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}