{% extends 'base.html' %}

{% block styling %}
{% load static %}
<link rel="stylesheet" href="{% static 'general/css/index.css' %}">
<link rel="preload" href="{% static 'static/img/stock1.jpeg'%}" as="image"> 
<link rel="preload" href="{% static 'static/img/stock2.jpeg'%}" as="image"> 
{% endblock styling %}

{% block windowTitle %} Home - St Edward the Confessor {% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
{% load static %}
<!-- Home Content -->
<div class="homeContent flex-grow-1">
    <div class="landing">

        <div class="backlayer">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active carousel-image bg-img-1" data-bs-interval=3000 style="background-image: url('{% static 'static/img/stock1.jpeg'%}')">
                    <!-- <img src="{% static 'static/img/stock1.jpeg' %}" class="d-block w-100 h-100" alt="..."> -->
                </div>
                <div class="carousel-item carousel-image bg-img-1" data-bs-interval=3000 style="background-image: url('{% static 'static/img/stock2.jpeg'%}')">
                    <!-- <img src="{% static 'static/img/stock1.jpeg' %}" class="d-block w-100 h-100" alt="..."> -->
                </div>
                
                </div>
            </div>
        </div>

        <div class="frontlayer d-flex flex-column align-items-start justify-content-around justify-content-md-center px-5">
            <div class="startText">
                <div class="homeTitle">
                    Welcome to the Parish of St Edward the Confessor
                </div>

                <div class="homeComment">
                    Growing together in Christ
                </div>
            </div>

            <a href="#priestWelcome" class="findButton d-flex justify-content-center align-items-center">
                Find out More
            </a>
        </div>

    </div>

    <!-- Message from Parish Priest -->
<div class="priestWelcomeBackground">
    <div class="container px-5 pt-3 w-100" id="priestWelcome">
        <!-- Header -->
        <div class="row">
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                <div class="priestWriting">
                    <div class="priestMessage">
                        Message from the Parish Priest
                    </div>

                    <!-- Priest Text -->
                    <div class="priestText">
                        <div class="d-flex justify-content-center align-items-center speechMarks">
                            "
                        </div>

                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, repellat aspernatur cupiditate quae nemo esse, ratione consequatur, repudiandae ipsa neque laboriosam autem fugiat inventore vitae error perspiciatis sint atque. Rerum.
                        </div>

                        <div class="d-flex justify-content-center align-items-center speechMarks">
                            "
                        </div>
                    </div>
                </div>

                <!-- Priest Image -->
                
                <div class="col-6 col-md-4 priestImage mx-auto mt-3" >
                    <img class="mb-auto" src="{% static 'static/img/priest_holder.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Message from Parish Priest -->

<!-- About our Parish -->
<div class="ourParishContainer">
    <div class="container ourParishContainer w-100">
        <div class="row">

            <div class="px-5 py-4">
                <div class="ourParishTitle">
                    Our Parish
                </div>

                <div class="ourParishMessage">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur porro ipsa odit suscipit in quo rem quas blanditiis at. Laborum similique sint porro odit alias cupiditate nobis corrupti perspiciatis consequatur?
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About our Parish -->

<!-- Mass Times -->
<div class="container" style="min-width: 100%; background-color: #f2f2f2;">
    <div class="container bg-white">
        <div id="row massTimesContainer px-5" style="background-color: #f2f2f2;">
            <div class="row pt-4" style="background-color: #f2f2f2">
                <div class="massTimesTitle px-5 col-12 mb-2">
                    Join us for Holy Mass
                </div>

                <!-- Sacred Heart -->
                <div class="sacredHeartTimes container px-md-5">
                    <div class="churchTitle pt-2 pb-4">
                        Sacred Heart
                    </div>
                    {% for key, values in sacred_heart_mass_times.items %}

                        <div class="row">
                            <div class="col-5 ps-3 overflow-hidden">
                                <p class="dayLabel w-100">{{ key }}</p>
                            </div>
                            
                            <div class="col-7">
                                {% for time, comment in values %}
                                    <div class="timeLabel">{{ time }}</div>
                                    <div class="commentLabel mb-2">{{ comment }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>

                <!-- St Cuthberts -->
                <div class="stCuthbertsTimes container mt-md-2 px-md-5">
                    <div class="churchTitle pt-2 pb-4">
                        St Cuthberts
                    </div>
                    {% for key, values in st_cuthberts_mass_times.items %}

                        <div class="row">
                            <div class="col-5 ps-3 overflow-hidden">
                                <p class="dayLabel w-100">{{ key }}</p>
                            </div>
                            
                            <div class="col-7">
                                {% for time, comment in values %}
                                    <div class="timeLabel">{{ time }}</div>
                                    <div class="commentLabel mb-2">{{ comment }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>

            </div>
                {% comment %}
                {% for key, values in mass_times.items %}
                    <p>{{ key }}</p>
                    {% for time, comment in values %}
                        <p>{{ time }}, {{ comment }}</p>
                    {% endfor %}
                {% endfor %}
                {% endcomment %}


        </div>
    
</div>

<!-- Priest Messages -->
<div class="container">
    <div class="container px-4 px-md-0">
        <div class="priestMessageTitle mt-4">
            Messages from Fr Giorgio
        </div>
        <div class="innerMessageContainer d-flex flex-row flex-wrap justify-content-start" id="allMessageContainer">
            
            {% for post in priest_messages %}

                {% if post.PhotoValue == 0 %}
                    <div class="priestMessageContainer hoverImage shadow mt-4 me-4 px-2" id="{{ post.value }}" >
                        <div class="priestMessageTextContainer">
                            <h1 class="pt-2">{{ post.Title }}</h1>
                            <h2 class="mt-2">{{ post.Message }}</h2>
                            <h3>{{ post.DateTime }}</h3>
                        </div>

                    </div>

                {% else %}
                            
                    <div class="priestMessageContainer hoverImage w-100 shadow mt-4" id="{{ post.value }}" data-bs-toggle="modal" data-bs-target="#modal{{ post.value }}">
                        {% if post.PhotoValue == 1 %}
                            <div class="priestMessageImage mt-2" style="background-image: url('{{ post.Images.0 }}');"></div>
                        
                        {% else %}
                        <a class="d-flex mx-auto imageHover imageLayerImage" style="background-image: linear-gradient(to right, rgba(255,255,255,0.8) 20%,
                        rgba(255,255,255,0.8)), url('{{ post.Images.0 }}'); height: 240px;" >
                        
                            <div class="flex-grow-1 justify-content-center align-items-center d-flex imageLayerText"> {{ post.PhotoValue }} Images </div>

                        </a>

                            

                        {% endif %}
                        
                        <div class="priestMessageTextContainer px-2">
                            <h1 class="pt-2">{{ post.Title }}</h1>
                            <h2 class="mt-2">{{ post.Message }}</h2>
                            <h3>{{ post.DateTime }}</h3>
                        </div>

                    </div>

                    

                {% endif %}
                <!-- Modal -->

                <div id="modal{{ post.value }}" class="modal">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ post.Title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex align-items-center justify-content-center">

                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper">
        
                                        {% for image in post.Images %}
                                        <div class="swiper-slide d-flex justify-content-center align-items-center">
                                            <div class="swiper-img" style="background-image: url('{{ image }}');"></div>
                                        </div>
                                        {% endfor %}
        
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="modal fade" id="modal{{ post.value }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ post.Title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="swiper mySwiper" style="height: 240px;">
                                <div class="swiper-wrapper">

                                    {% for image in post.Images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image }}" alt="">
                                    </div>
                                    {% endfor %}

                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div> -->
                
            {% endfor %}
        

        </div>
    </div>
</div>



{% include "footer.html" %}

{% endblock %}