{% extends 'base.html' %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'general/css/contact-us.css' %}">
{% endblock styling %}

{% block windowTitle %} Contact Us {% endblock %}


{% block navbar %}
<div class="navColorContainer">
    {% include "navbar.html" %}

    <div class="container d-md-none">
        <div class="row" style="margin: 0px 32px;">
            <div class="col-12">
                <div class="contactHeader">
                    <h1>Have something to tell us?</h1>
                    <h2>We're here to help, and can't wait to hear from you!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
{% load static %}
<div>
    <div class="navColorContainer d-none d-md-block">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-start">
                <div class="contactHeader col-9 d-flex flex-column justify-content-center">
                    <div>
                        <h1>Have something to tell us?</h1>
                        <h2>We're here to help, and can't wait to hear from you.</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container contactContent mt-4 mt-md-0 flex-grow-1">
        <div class="row d-flex justify-content-center">
            <div class="col-12 contactBorder">
                <div class="contactUsItems p-4">
                    <form id="contact-us-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- {{ form.as_table }} -->
                        <!-- Name -->
                        <div class="col-9">
                            <label for="inputName">Full Name</label>
                            <!-- <input type="text" name="name" class="form-control"> -->
                            {{ form.full_name}}
                        </div>

                        <!-- Email -->
                        <div class="col-9 mt-4">
                            <label for="inputEmail">Email:</label>
                            <!-- <input type="email" name="email" class="form-control" aria-describedby="emailßHelp"> -->
                            {{ form.email }}
                        </div>

                        <!-- Member -->
                        <div class="col-12 mt-4">
                            <label for="inputMember">Are you a member of this Parish:</label>
                            <!-- <select class="form-select" name="member">
                                <option value="no">No</option>
                                <option value="yes">Yes</option>
                            </select> -->
                            {{ form.member }}
                        </div>

                        <!-- Message -->
                        <div class="col-12 mt-4">
                            <label for="inputMessage">Message:</label>
                            <!-- <textarea class="form-control" name="message"></textarea> -->
                            {{ form.message }}
                        </div>

                        <div class="col-12 mt-2" id="error-messages">
                            {% for message in messages %}  
                                <div class="">{{ message }}</div>
                            {% endfor %}
                        </div>
                        
                        <!-- Submit -->
                        <button class="col-12 mt-2 btn btn-primary">Send Messages</button>
                    
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>



{% endblock content %}
