{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% block styling %}{% endblock styling %}
    <link rel="stylesheet" href="{% static 'static/css/base.css' %}">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="icon" href="{% static 'static/img/parish_logo.png' %}">
    
    <title>{% block windowTitle %} {% endblock windowTitle%}</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
    
</head>
<body>


    <!-- Nav bar -->

    <div class="d-flex flex-lg-row flex-column">
        <div class="changeNavbar">
            {% block navbar %}{% endblock navbar %}
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav px-4" style="z-index: 999;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sacraments
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item my-1" href="{% url 'baptism' %}">Baptism</a></li>
                      <li><a class="dropdown-item my-1" href="{% url 'reconciliation' %}">Reconciliation</a></li>
                      <li><a class="dropdown-item my-1" href="{% url 'holy-communion' %}">Holy Communion</a></li>
                      <li><a class="dropdown-item my-1" href="{% url 'confirmation' %}">Confirmation</a></li>
                      <li><a class="dropdown-item my-1" href="{% url 'marriage' %}">Holy Matrimony</a></li>
                      <li><a class="dropdown-item my-1" href="{% url 'holy-orders' %}">Holy Orders</a></li>
                      <li><a class="dropdown-item my-1" href="{% url 'anointing' %}">Anointing of the Sick</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about-us' %}">About us</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'liturgy' %}" class="nav-link">Liturgy</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'parish-hub' %}" class="nav-link">Parish Hub</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'funeral' %}" class="nav-link">Funerals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'schools' %}">Schools</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'newsletter' %}">Newsletter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact-us' %}">Contact us</a>
                </li>
              </ul>
            </div>
        </div>

        <div class="generalContent flex-grow-1">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% block script %}
    {% endblock script %}

    

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
   <script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
   </script>
</body>
</html>