

<!-- Footer -->
<footer class="pb-4 w-100">
    <!-- Bottom Bar -->
    <hr>
    <div class="container d-flex justify-content-center mt-4">

      <div class="row d-flex justify-content-center">

        <!-- Contact Us -->
        <div class="ps-2 col-md-6 d-inline-flex flex-column justify-content-center align-items-center">
          <div class="contactUs" align="center">Contact Us</div>

          <div class="contactNumber pt-2 " align="center">Phone at <a href="">01942 203583</a> or leave a message through our <a href="">Contact Us page</a></div>

        </div>

        <div class=" col-md-6 d-flex flex-column justify-content-center align-items-center">

          <div class="contactUs mt-4 mt-md-0" align="center">Find us</div>

          <div class="contactNumber pt-2">
            <!-- Sacred Heart -->
            <div class="specificChurch">
              <span class="churchName">Sacred Heart:</span> Throstle Nest Ave, Wigan WN6 7AT
            </div>

            <div class="specificChurch">
              <span class="churchName">St Cuthbert's:</span> Pemberton, Wigan WN5 9QN
            </div>
          </div>

        </div>

        
      </div>

    </div>

    <div align="center" class="mt-2">
      Website designed by <a href="https://www.ansomedia.com/web-design-wigan">ANSO</a>
    </div>

</footer>
