<!-- Nav bar -->
{% load static %}
<nav class="navbar navbar-expand-lg d-lg-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'static/img/parish_logo.png' %}" class="navbar_image" alt="St Edwards">
      </a>
      <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="z-index: 999;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sacraments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Liturgy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Newsletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact us</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>

<div class="deskNavContainer">
  <div class="desktopNavbar d-none d-lg-flex flex-column align-items-center">
    <div class="desktopLogo d-flex mx-auto ps-3">
        <img src="{% static 'static/img/parish_logo.png' %}" alt="St Edwards">
    </div>

    <div class="separator-line d-flex mx-auto"></div>

    <div class="navigationItems d-flex flex-column">
        
        <a class="navigationLink" href="{% url 'home' %}">
            Home
        </a>

          <div class="dropdown" style="margin-bottom: 8px;">
            <a class="dropdown-toggle navigationLink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sacraments
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'baptism' %}">Baptism</a></li>
              <li><a class="dropdown-item" href="{% url 'reconciliation' %}">Reconciliation</a></li>
              <li><a class="dropdown-item" href="{% url 'holy-communion' %}">Holy Communion</a></li>
              <li><a class="dropdown-item" href="{% url 'confirmation' %}">Confirmation</a></li>
              <li><a class="dropdown-item" href="{% url 'marriage' %}">Holy Matrimony</a></li>
              <li><a class="dropdown-item" href="{% url 'holy-orders' %}">Holy Orders</a></li>
              <li><a class="dropdown-item" href="{% url 'anointing' %}">Anointing of the Sick</a></li>
            </ul>
          </div>

        <a class="navigationLink" href="{% url 'about-us' %}">
            About us
        </a>

        <a class="navigationLink" href="{% url 'liturgy' %}">
          Liturgy
        </a>

        <a class="navigationLink" href="{% url 'parish-hub' %}">
            Parish Hub
        </a>

        <a class="navigationLink" href="{% url 'funeral' %}">
            Funerals
        </a>

        <a class="navigationLink" href="{% url 'schools' %}">
            Schools
        </a>

        <a class="navigationLink" href="{% url 'calendar' %}">
            Calendar
        </a>

        <a class="navigationLink" href="{% url 'newsletter' %}">
            Newsletter
        </a>

        <!-- <a class="navigationLink">
            Social Activities ?? Do we need this
        </a> -->

        <a class="navigationLink" href="{% url 'contact-us' %}">
            Contact us
        </a>

    </div>
  </div>
</div>